{% include "components/open_boiler_plate.html" %}
<h1>Chromatic Lattice</h1>
<div id="chromatic-lattice-holder" class="big-image-holder">
    <img src="/images/ChromaticLattice.svg" />
</div>
<div id="chromatic-lattice-key">
    <h2>Key</h2>
    <ul>
        <li>Yellow Triangle: Augmented Triad</li>
        <li>Green Rectangle: Major Triad</li>
        <li>Blue Ellipse: Minor Triad</li>
        <li>Red Arrow: Raise note a semitone</li>
        <li>Blue Arrow: Lower note a semitone</li>
    </ul>
</div>
{% include "components/close_boiler_plate.html" %}
