{% include "components/open_boiler_plate.html" %}
<div class="header">Composing a Melody From Chords</div>
<div class="content">
    <div class="description">
        If you are given, or have drummed up a chord progression. What follows
        is a rough set of steps to compose a melody for this chord progression.
    </div>
    <div class="steps">
        <ol>
            <li>
                Come up with a short rhythmic figure to repeat - rhythm turns
                sound into music.
            </li>
            <li>
                Plan where your highest note will be - roughly 2/3rds along the
                melody - I like to think &phi; is the ideal spot - but who knows
                if that is true.
            </li>
            <li>Lightly sketch out the melody shape</li>
            <li>
                Set your rhythmic pattern on notes of the underlying chord - in
                such a way as to have the pitch follow the sketched out shape.
                You can stay on one note any time you like - and jump just
                ocassionally
            </li>
            <li>Sing it - how does it sound?</li>
            <li>
                To add the feels first move some of the hits on weak beats to
                pitches outside of the chord.
            </li>
            <li>Sing it - how does it sound?</li>
            <li>
                For more feels - put non-chord tones on some strong beats and
                'resolve' down to a chord tones.
            </li>
            <li>Sing it - how does it sound?</li>
        </ol>
    </div>
</div>
{% include "components/close_boiler_plate.html" %}
