{% include "components/open_boiler_plate.html" %}
<h1>Conjuring Collaborators</h1>

<p>So. You want to form a band that is made up of only members of an under-represented group of people, let’s call them "The Group".  You don't see them playing out or on stage at local jam sessions.  Do they just not exist?  Or are they intimidated by the over-representation of the dominant group?  Or do the other musicians of The Group think that they are alone and don't come forward. How do you get out of this cycle? </p>

<h2>
I have a proposal.
</h2>
<p> I call it a "Cozy Crucible".  Instead of trying to find your people in the spaces that are saturated with the over-represented group.  Make a safe space for them to come to you.  A bit like building a pond in your garden to attract wonderful wildlife.  Maybe "Playful Pond" or "Pond of Play" would be a more appropriate name, you can call it what you will. </p>

<ol>
    <li><p>First: You'll need a place to get together and play - any place where you can limit who attends so that it's a safe space for the members of The Group.</p> </li>
    <li><p>Then: You'll need to get word out to the people.  This will need flyers - not AI generated please.  And these flyers won't say where the space is - but rather how to contact you, the facilitator.  Put these flyers up in other spaces for members of The Group.  Also if you are at the regular jams and you see members of The Group in the audience - you can approach them and ask if they are musicians- and if they say "yes" hand them a flyer.  If they hesitate before saying "no" - you might give them a flyer anyway - "in case they know anyone".</p></li>
</ol>
<h2>
A couple things to keep in mind:
</h2>
<ul>
    <li>
        <p>The "Playful Pond" is a safe space to jam - it is not your band.  Members of your band may come from this space - but your ego needs to take a back seat and remember that this space is for building a community and allowing musicians of the The Group to show up and play together.  Ideally, it can be a place that births many bands.</p>
    </li>
    <li>
        <p>Attendance must be limited to members of the The Group - allowing "allies" to attend can unintentionally turn the space back into the dominant demographic.  True allies will understand.</p>
    </li>
    <li>
        <p>You'll also probably want to appoint second and third facilitators so things can continue when you can't make it and to prevent overwhelm.  Also, if you decide to focus on the band that spins out of the "Pond", you'll want someone to keep the "Pond" going and growing.</p>
    </li>
</ul>
{% include "components/close_boiler_plate.html" %}
