{% include "components/open_boiler_plate.html" %}
    <h1>About Wizard Of Arc</h1>
    <div id="azi">
      <div id="the-wizard">
          <img src="/images/Azi.png" class="responsive-half-image" />
      </div>
    </div>
    <div id="about-woa">
      <p class="about-woa-text">Wizard Of Arc is an entity that represents the musical expression (and passions) of Azi Crawford who is a:
      </p>
      <div class="about-woa-text-list">
          <ul>
              <li>singer</li>
              <li>composer</li>
              <li>and multi-instrumentalist.</li>
          </ul>
      </div>
      <p>Azi prefers when this manifests as a band and creates something greater than the sum of its parts.</p>
    </div>
    <div id="morphing">
      <div id="the-transformation">
          <img src="/images/anagram.gif" class="responsive-full-image">
      </div>
    </div>
{% include "components/close_boiler_plate.html" %}
